{% extends "layout.html" %}
{% block content %}

{% load static %}
<!-- script for DatePicker -->
<script src="{% static 'datepicker-full.min.js' %}"></script>
<form method = "post" action = "{% url 'filter_results' %}">

<div class="row">
    <div class="column">
        <div class="card" style="height: 430px;">
            <h2>SET FILTER VALUES</h2>
            <table style="width: 100%; margin: 0px 0px; padding-bottom: 3px;">
                <tbody>
                    <tr>
                        <td class="table_1st_col"></td>
                        <td class="table_2nd_col">
                            <h4>Choose</h4>
                        </td>
                        <td class="table_3rd_col">
                            <h4>Actual setting</h4>
                        </td>
                        <td class="table_4th_col"></td>
                    </tr>
                    <tr>
                        <td class="table_1st_col">
                            <h4>Classification</h4>
                        </td>
                        <td class="table_2nd_col">
                            <label style="color: blue;" for="drop1_selection"> Yolo: </label>
                            {% csrf_token %}
                            <select id="drop1_selection" class="select" onchange="set_drop1()"> 
                                {% for k in yolo_select %}
                                <option>{{ k }}</option>
                                {% endfor %}
                            </select>
                            
                        
                            <label class="switch">
                                <input type="checkbox" id="switchvalue" name="selected_logic_sl" {{selec_log}} onclick="set_logic()">
                                <span class="slider round"></span>
                            </label>
                            <label id="logic_state" style="color: green;" for="switchvalue"> AND</label> 
                            <label style="color: blue; padding-left: 20px" for="drop2_selection">ImageNet:</label>
                            <select id="drop2_selection" class="select" onchange="set_drop2()">
                                {% for k in imageNet_select %}
                                <option>{{ k }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="table_3rd_col">
                            <label style="color: blue;" for="set_drop1_in"> Yolo: </label>
                            <input id="set_drop1_in" name="drop1" type="text" value="{{selected_yolo}}" style="display: table-row; float: right; height: 20px"/> 
                            <label id="logic_state2" style="color: green;" for="switchvalue"> AND</label> 
                            <label style="color: blue;" for="set_drop2_in"> ImageNet: </label> 
                            <input id="set_drop2_in" name="drop2" type="text" value="{{selected_imageNet}}" style="display: table-row; float: right; height: 20px"/> 
                        </td>
                        <td class="table_4th_col"></td>
                    </tr>
                    <tr>
                        <td class="table_1st_col">
                            <h4>Date</h4>
                        </td>
                        <td class="table_2nd_col" id="date_range">
                            <label style="color: blue;" for="date_from">From: </label> 
                            <input id="date_from" type="text" name="start" value={{selected_start}}>
                            <label style="color: blue;" for="date_to">To: </label>
                            <input id="date_to" type="text" name="end" value={{selected_end}}>

                            
                        </td>
                        <td class="table_3rd_col">
                            <h4>set date</h4>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="table_1st_col">
                            <h4>GPS Filter</h4>
                        </td>
                        <td class="table_2nd_col">
                            <label id="gps_state" style="color: blue;"> ON</label> 
                            <label class="switch"> 
                                <input type="checkbox" id="switchvalue_gps" name="selected_gps_state" {{selec_gps}} onclick="set_gps()">
                                <span class="slider round"></span>
                            </label>
                            <div>
                            <label style="color: blue;" for="gps_radius_range_slider">Radius Slider</label> 
                            <input type="range" min="20" max="1000000" value="500000" class="slider_rad" id="gps_radius_range_slider" onchange="slider_func()"> 
                            </div>
                            <label style="color: blue;" for="gps_radius_range_slider">Zoom Slider</label>
                            <input type="range" min="2.5" max="20"  step="0.1" value="5" class="slider_rad" id="gps_zoom_slider" name="current_zoom" onchange="slider_func_zoom()">
                        </td>
                        <td class="table_3rd_col">
                            <label style="color: blue;" for="cur_loc_lat">Latitude</label> 
                            <input id="cur_loc_lat" name="current_location_lat" type="text" value="{{current_loc_lat}}" style="display: table-row; float: right; height: 20px"/> 
                         
                            <label style="color: blue;" for="cur_loc_lon">Longitude</label> 
                            <input id="cur_loc_lon" name="current_location_lon" type="text" value="{{current_loc_lon}}" style="display: table-row; float: right; height: 20px"/> 
                        
                            <label style="color: blue;" for="cur_rad">Radius / km</label> 
                            <input id="cur_rad" name="current_radius" type="text" value="{{current_rad}}" style="display: table-row; float: right; height: 20px"/> 
                          
                            <label style="color: blue;" for="cur_zoom">Zoom</label> 
                            <input id="cur_zoom" name="current_zoom" type="text" value="{{curr_zoom}}" style="display: table-row; float: right; height: 20px"/> 
                        </td>
                        <td class="table_4th_col">
        
                            <a href="{% url 'filter_result_table_page' %}" class="button blue">Result Table</a>
                            <a href="{% url 'photo_list_filtered' %}" class="button blue">Slide Show</a>
                        
                           
                            <input type="submit" value="Submit" />


                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="column">
        <div class="card" style="overflow-y: auto; height: 430px">
            <h2>CHOOSE AN IMAGE</h2>

            {% for photo in photos_class %}
                
            {% if photo.file %}

                <img src='{{ photo.file.url }}' height='150' class="image" onclick="image_event(href='{{ photo.file.url }}', '{{ photo.file }}')" ondblclick="get_it_large('{{ photo.file.url }}')"/> 
            
            {% endif %}
                
            {% endfor %}
        
            
        </div>
 
    </div>
</div>



<div class="row">
    <div class="column">
        <div class="card" style=" height: calc(99% -430px)">
            <p id="gps_data_available"></p>
            <div id="map" style="height: 60%"></div>
        </div>
    </div>

    
    <div class="column">
        <div class="card" style=" height: calc(99% -430px)">
            <table>
                <tbody>
                    <tr>
                        <td id="image_box" style="width: 70%; padding-right:3px">
                        </td>
                        <td id="image_box_description" style="width: 30%; padding-right:3px; vertical-align: top;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <table style="width: 100%; margin: 0px 0px">
        <tbody>
            <tr>
                <td class="table_1st_col"></td>
                <td class="table_2nd_col">

                   

</div>
<script>
    function get_it_large(href){
        window.open(href);
        
    };

    
</script>
<script>
    var position_to_center = {lat: 0, lng: 0};
    const elem = document.getElementById('date_range');
    const dateRangePicker = new DateRangePicker(elem, {
        // options here
    });
</script>

<script>
    let map;
    let markersArray = [];
    var marker = "";
    var circle = "";
    var radius = 500000;
    var latLng = "";
    
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: {{current_loc_lat}}, lng: {{current_loc_lon}}},
            zoom: {{curr_zoom}}
        });
        // map onclick listener 
        map.addListener('click', function(e) {
            //console.log(e);
            addMarker(e.latLng);
        });

        var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
        
        {% for latitude, longitude, img_path, date_time, GPS, classes_yolo, classes_ImgNet, photo in markers_and_infos %}
        travel_marker = new google.maps.Marker({
            map: map,
            position: {lat: {{latitude}}, lng: {{longitude}}},
            draggable: false,
            icon: image
        });

        var infowindow = new google.maps.InfoWindow();  
        google.maps.event.addListener(travel_marker, 'click', (function(travel_marker) {  
           return function() {  
               var content = '<div>' +
                          '<h4>Image Path</h4><p> {{ img_path }} </p>' +
                          '<h4>Date & Time</h4><p> {{ date_time }} </p>' +
                          '<h4>GPS</h4><p> {{ GPS }} </p>' +
                          '<h4>classes_yolo</h4><p> {{ classes_yolo }} </p>' +
                          '<h4>classes_ImgNet</h4><p> {{ classes_ImgNet }} </p>' +
                          '<img src="{{ photo.file.url }}" alt="Image"  height="300"> ' +
                          '</div>';  
               infowindow.setContent(content);  
               infowindow.open(map, travel_marker);  
           }  
         })(travel_marker));  
        {% endfor %}
        
     
        {% if current_loc_lat  != '0' %}
            marker = new google.maps.Marker({
            map: map,
            position: {lat: {{current_loc_lat}}, lng: {{current_loc_lon}}},
            draggable: true,
            });
            position_to_center = marker.getPosition();
            circle = new google.maps.Circle({
                center: position,
                radius: {{current_rad}},
                fillColor: "#0000FF",
                fillOpacity: 0.1,
                map: map,
                strokeColor: "#FFFFFF",
                strokeOpacity: 0.1,
                strokeWeight: 2
            });
            updateRadius(circle, circle.radius);
            circle.bindTo('center', marker, 'position');
            
        {% endif %}

    }


    // define function to add marker at given lat & lng
    function addMarker(latLng) {
      latLng = latLng;
      if(marker){
        marker.setMap(null);
        marker = "";
        

       
      }
      if(circle){
        circle.setMap(null);
      }

      
      marker = new google.maps.Marker({
          map: map,
          position: latLng,
          draggable: true,
          
      });
      position_to_center = marker.getPosition();

      google.maps.event.addListener(marker, 'dragend',
        function(marker) {
          latLng = marker.latLng;
          var inputF = document.getElementById("id1"); 
          
          document.getElementById("cur_loc_lat").value = latLng.lat().toFixed(3);
          document.getElementById("cur_loc_lon").value = latLng.lng().toFixed(3);
      
        }
      );

      circle = new google.maps.Circle({
        center: position_to_center,
        radius: radius,
        fillColor: "#0000FF",
        fillOpacity: 0.1,
        map: map,
        strokeColor: "#FFFFFF",
        strokeOpacity: 0.1,
        strokeWeight: 2
      });
     
      document.getElementById("cur_loc_lat").value = latLng.lat().toFixed(3);
      document.getElementById("cur_loc_lon").value = latLng.lng().toFixed(3);
      circle.bindTo('center', marker, 'position');

    }
    
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTnwDxiw0bk2fJ1N55V4CAzlgtDxSWpoM&callback=initMap">
  </script>

<!-- SCRIPT SLIDER -->
  <script>

    var radius = parseFloat(document.getElementById("gps_radius_range_slider").value);
    var a = radius / 1000;
    document.getElementById("cur_rad").value = a;
  
    function slider_func() {
      radius = parseFloat(document.getElementById("gps_radius_range_slider").value);
      a = radius / 1000;
      document.getElementById("cur_rad").value = a;
      updateRadius(circle, radius)
    }

    function updateRadius(circle, rad){
    circle.setRadius(rad);
    }
  </script>

<!-- SCRIPT SLIDER ZOOM -->
<script>
    var zoom_level = 5;
    function slider_func_zoom(){
        zoom_level = document.getElementById("gps_zoom_slider").value;
        if(marker){
            console.log('MArker found')
            position_to_center = marker.getPosition();
        }
        
        console.log(zoom_level)
        map.setCenter(position_to_center);
        map.zoom = zoom_level;
        map.panBy(0, 0);
   
    }
</script>

<!-- SWITCH LOGIC STATE -->
<script>
    var checkBox = document.getElementById("switchvalue");
    console.log(checkBox.checked);
    var logic_state = document.getElementById("logic_state");
    var logic_state2 = document.getElementById("logic_state2");
    if (checkBox.checked == true){
        logic_state.innerHTML = "OR";
        logic_state2.innerHTML = "OR";
    } else {
        logic_state.innerHTML = "AND";
        logic_state2.innerHTML = "AND";

    }
    function set_logic() {
        var checkBox = document.getElementById("switchvalue");
        console.log(checkBox.checked);
        var logic_state = document.getElementById("logic_state");
        var logic_state2 = document.getElementById("logic_state2");
        if (checkBox.checked == true){
            logic_state.innerHTML = "OR";
            logic_state2.innerHTML = "OR";
        } else {
            logic_state.innerHTML = "AND";
            logic_state2.innerHTML = "AND";
        }
    }
</script>

  <!-- SWITCH GPS STATE -->
<script>
    var checkBox = document.getElementById("switchvalue_gps");
    console.log(checkBox.checked);
    var gps_state = document.getElementById("gps_state");
    if (checkBox.checked == true){
        gps_state.innerHTML = "ON";
    } else {
        gps_state.innerHTML = "OFF";
    }
    function set_gps() {
        var checkBox = document.getElementById("switchvalue_gps");
        console.log(checkBox.checked);
        var gps_state = document.getElementById("gps_state");
        if (checkBox.checked == true){
            gps_state.innerHTML = "ON";
        } else {
            gps_state.innerHTML = "OFF";
        }
    }

</script>
<script>
    function set_drop1(){
        document.getElementById("set_drop1_in").value = drop1_selection.options[drop1_selection.selectedIndex].text;
    }
    function set_drop2(){
        document.getElementById("set_drop2_in").value = drop2_selection.options[drop2_selection.selectedIndex].text;
    }
</script>

<!-- SCRIPT Thumbnail images -->
<script>
    
    var markers_and_infos_json = {{ markers_and_infos_json|safe }};
    console.log(markers_and_infos_json);

    $('img').mouseover(function(){
    $(this).css('opacity','.5');
    $(this).next('span.text').show();
    }).mouseout(function(){
    $(this).css('opacity','1');
    $(this).next('span.text').hide(); 
    console.log(this.src)
      
    });
    

    function image_event(href, image){
        for (i = 0, len = markers_and_infos_json.length; i < len; i++) {
            console.log(markers_and_infos_json)
            if (markers_and_infos_json[i][2] == image){
            
                var src_image = "<img src="+ href + " width='800'></img>";
                var src_text = '<h3>IMAGE DESCRIPTION</h3> <br/>' + 
                    '<h4>Image Path</h4><p>' + markers_and_infos_json[i][2] + '</p>' +
                    '<h4>Date & Time</h3><p>' + markers_and_infos_json[i][3]  + '</p>' +
                    '<h4>GPS</h3><p>' + markers_and_infos_json[i][4]  + '</p>' +
                    '<h4>classes_yolo</h3><p> ' + markers_and_infos_json[i][5]  + '</p>' +
                    '<h4>classes_ImgNet</h3><p>' + markers_and_infos_json[i][6]  + '</p>';
                
                document.getElementById("image_box").innerHTML = src_image;
                document.getElementById("image_box_description").innerHTML = src_text;

                
                if (markers_and_infos_json[i][0] != 'None'){

                    map.setCenter({lat: markers_and_infos_json[i][0], lng: markers_and_infos_json[i][1]});
                    map.zoom = zoom_level;

                    position_to_center = {lat: markers_and_infos_json[i][0], lng: markers_and_infos_json[i][1]};

                    if(marker){
                        marker.setMap(null);
                        marker = "";

                    }
                
                    if(circle){
                        circle.setMap(null);
                    }
                    
                    circle = new google.maps.Circle({
                    
                        center: position_to_center,
                        radius: 100000,
                        fillColor: "#0000FF",
                        fillOpacity: 0.1,
                        map: map,
                        strokeColor: "#FFFFFF",
                        strokeOpacity: 0.1,
                        strokeWeight: 2
                    });
                    document.getElementById("gps_data_available").innerHTML = "";
                    document.getElementById("cur_loc_lat").value = markers_and_infos_json[i][0].toFixed(3);
                    document.getElementById("cur_loc_lon").value = markers_and_infos_json[i][1].toFixed(3);
                    
                }else {
                    map.setCenter({lat: 0, lng: 0});
                    map.zoom = 2.5;
                    map.panBy(0, 0);
                    document.getElementById("gps_data_available").innerHTML = "NO GPS DATA";
                    

                }
       
            }
        }
        if (zoom_level <10){
            circle.setRadius(radius);
        } else{
            circle.setRadius(50);
        }
        map.panBy(0, 0);

    };
</script>

</form> 




{% endblock %}