{% extends "a_layout.html" %}
{% block content %}

{% load static %}
    <script src="{% static 'datepicker-full.min.js' %}"></script>
<form method = "post" action = "{% url 'filter_results' %}">
    
    {% csrf_token %}
    <h3>Yolo classes</h3>
    <select id="drop1_selection" onchange="set_drop1()">
        {% for k in yolo_select %}
            <option>{{ k }}</option>
        {% endfor %}
    </select>
    <input type="text" id="set_drop1_in" name="drop1" value={{selected_yolo}} onclick="set_drop1()">

    <h2>Logic connection between Yolo and ImageNet: <span id="logic_state" style="color: blue"> AND</span></h2> 
    <label class="switch">
      <input type="checkbox" id="switchvalue" name="selected_logic_sl" {{selec_log}} onclick="set_logic()">
      <span class="slider round"></span>
    </label>

    <h3>ImageNet classes</h3>
    <select id="drop2_selection" onchange="set_drop2()">
        {% for k in imageNet_select %}
            <option>{{ k }}</option>
        {% endfor %}
    </select>
    <input type="text" id="set_drop2_in" name = "drop2" value={{selected_imageNet}}>

   
    <div id="range">
    
        <input type="text" name="start" value={{selected_start}}>
        <span>To</span>
        <input type="text" name="end" value={{selected_end}}>
    </div>

    <script>
        const elem = document.getElementById('range');
        const dateRangePicker = new DateRangePicker(elem, {
            // options here
        });
    </script>

<div id="map"></div>
<input type="text"  id="cur_loc_lat" name="current_location_lat" value={{current_loc_lat}}>
<input type="text"  id="cur_loc_lon" name="current_location_lon" value={{current_loc_lon}}>
<input type="text"  id="cur_rad" name="current_radius" value={{current_rad}}>
  <div id="current_location">Nothing yet...</div>
  <div id="current_radius">Nothing yet...</div>
  <p>Set radius in meter:</p>
  <input type="range" min="0" max="1000000" value="500000" class="slider_rad" id="gps_radius_range_slider" onchange="slider_func()">

  <h2>GPS Filter: <span id="gps_state" style="color: blue"> ON</span></h2> 
  <label class="switch">
    <input type="checkbox" id="switchvalue_gps" name="selected_gps_state" {{selec_gps}} onclick="set_gps()">
    <span class="slider round"></span>
  </label>

  <script>
    let map;
    let markersArray = [];
    var marker = "";
    var circle = "";
    var radius = 500000;
    var latLng = "";

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 28.032, lng: 84.282},
        zoom: 8
      });
      // map onclick listener 
      map.addListener('click', function(e) {
        //console.log(e);
        addMarker(e.latLng);
      });

      var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
      {% for latitude, longitude, img_path, date_time, GPS, classes_yolo, classes_ImgNet, photo in markers_and_infos %}
      travel_marker = new google.maps.Marker({
          map: map,
          position: {lat: {{latitude}}, lng: {{longitude}}},
          draggable: false,
          icon: image
        });

        var infowindow = new google.maps.InfoWindow();  
        google.maps.event.addListener(travel_marker, 'click', (function(travel_marker) {  
           return function() {  
               var content = '<div>' +
                          '<h4>Image Path</h4><p> {{ img_path }} </p>' +
                          '<h4>Date & Time</h4><p> {{ date_time }} </p>' +
                          '<h4>GPS</h4><p> {{ GPS }} </p>' +
                          '<h4>classes_yolo</h4><p> {{ classes_yolo }} </p>' +
                          '<h4>classes_ImgNet</h4><p> {{ classes_ImgNet }} </p>' +
                          '<img src="{{ photo.file.url }}" alt="Image"  height="300"> ' +
                          '</div>';  
               infowindow.setContent(content);  
               infowindow.open(map, travel_marker);  
           }  
         })(travel_marker));  
      {% endfor %}


    }
    
    // define function to add marker at given lat & lng
    function addMarker(latLng) {
      latLng = latLng;
      if(marker){
        marker.setMap(null);
        circle.setMap(null);
      }

      
      marker = new google.maps.Marker({
          map: map,
          position: latLng,
          draggable: true,
          
      });

      google.maps.event.addListener(marker, 'dragend',
        function(marker) {
          latLng = marker.latLng;
          var inputF = document.getElementById("id1"); 
          document.getElementById('current_location').innerHTML = '<p>Marker dropped: Current Lat: ' + latLng.lat().toFixed(3) + ' Current Lng: ' + latLng.lng().toFixed(3) + '</p>';
          document.getElementById("cur_loc_lat").value = latLng.lat().toFixed(3)
          document.getElementById("cur_loc_lon").value = latLng.lng().toFixed(3)
      
        }
      );

      var position = marker.getPosition();
      circle = new google.maps.Circle({
        center: position,
        radius: radius,
        fillColor: "#0000FF",
        fillOpacity: 0.1,
        map: map,
        strokeColor: "#FFFFFF",
        strokeOpacity: 0.1,
        strokeWeight: 2
      });
      document.getElementById('current_location').innerHTML = '<p>Marker dropped: Current Lat: ' + latLng.lat().toFixed(3) + ' Current Lng: ' + latLng.lng().toFixed(3) + '</p>';
      document.getElementById("cur_loc_lat").value = latLng.lat().toFixed(3)
      document.getElementById("cur_loc_lon").value = latLng.lng().toFixed(3)
      circle.bindTo('center', marker, 'position');

    }
    
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTnwDxiw0bk2fJ1N55V4CAzlgtDxSWpoM&callback=initMap">
  </script>

<!-- SCRIPT SLIDER -->
  <script>

    radius = parseFloat(document.getElementById("gps_radius_range_slider").value);
    var a = radius / 1000;
    document.getElementById('current_radius').innerHTML = '<p>Marker dropped: Current Radius: ' + a + ' km' + '</p>';
    document.getElementById("cur_rad").value = a
  
    function slider_func() {
      radius = parseFloat(document.getElementById("gps_radius_range_slider").value);
      a = radius / 1000;
      document.getElementById('current_radius').innerHTML = '<p>Marker dropped: Current Radius: ' + a + ' km' + '</p>';
      document.getElementById("cur_rad").value = a
      updateRadius(circle, radius)
    }

    function updateRadius(circle, rad){
    circle.setRadius(rad);
    }
  </script>

 <!-- SWITCH LOGIC STATE -->
 <script>
   var checkBox = document.getElementById("switchvalue");
    console.log(checkBox.checked);
    var logic_state = document.getElementById("logic_state");
    if (checkBox.checked == true){
      logic_state.innerHTML = "OR";
    } else {
      logic_state.innerHTML = "AND";
    }
  function set_logic() {
    var checkBox = document.getElementById("switchvalue");
    console.log(checkBox.checked);
    var logic_state = document.getElementById("logic_state");
    if (checkBox.checked == true){
      logic_state.innerHTML = "OR";
    } else {
      logic_state.innerHTML = "AND";
    }
  }
 </script>

  <!-- SWITCH GPS STATE -->
 <script>
   var checkBox = document.getElementById("switchvalue_gps");
    console.log(checkBox.checked);
    var gps_state = document.getElementById("gps_state");
    if (checkBox.checked == true){
      gps_state.innerHTML = "ON";
    } else {
      gps_state.innerHTML = "OFF";
    }
  function set_gps() {
    var checkBox = document.getElementById("switchvalue_gps");
    console.log(checkBox.checked);
    var gps_state = document.getElementById("gps_state");
    if (checkBox.checked == true){
      gps_state.innerHTML = "ON";
    } else {
      gps_state.innerHTML = "OFF";
    }
  }

 </script>
 <script>
  /*document.getElementById("set_drop1_in").value = drop1_selection.options[drop1_selection.selectedIndex].text;*/
  /*document.getElementById("set_drop2_in").value = drop2_selection.options[drop2_selection.selectedIndex].text;*/
  function set_drop1(){
    document.getElementById("set_drop1_in").value = drop1_selection.options[drop1_selection.selectedIndex].text;

  }
  function set_drop2(){
    document.getElementById("set_drop2_in").value = drop2_selection.options[drop2_selection.selectedIndex].text;

  }

 </script>
<br/>
  <input type="submit" value="Submit">
</form>  



<div class="card">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">


      <!-- Wrapper for slides 
      ================================================== -->
      <div class="carousel-inner">
          {% for photo in photos_class %}
          {% if forloop.counter == 1 %}
          <div class="item active" style="height:500">
          {% else %}
          <div class="item" style="height:500">
          {% endif %}
      

          <div class="carousel-caption">
          {% if photo.file %}
          <img src="{{ photo.file.url }}" alt="Image"  height="500"> 
          <h3>{{ photo.file }}</h3>
          {% endif %}
          </div>
          </div>
          {% endfor %}
          </div>

          <!-- Left and right controls 
          ================================================== -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
    </div>
</div>



{% endblock %}

